<div class="twocolumn-container clearfix">

  <div class="left-column">

    {{ content_for_notifications }}

    <div class="content-{{ request.template  | replace: '_', '-' }}">
      {% yield %}
    </div>

  </div>
  <!-- .left_column -->

  <div class="right-column">

    {% if request.logged_in? %}

    {% include "supporter_nav" %}

    {% else %}

    {% if site.has_button1? %}
    <a class="button supporter-nav-button" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
    {% endif %}

    {% if site.has_button2? %}
    <a class="button supporter-nav-button" href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a>
    {% endif %}

    {% if site.has_button3? %}
    <a class="button supporter-nav-button" href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a>
    {% endif %}

    <ul class="supporter-nav">
      {% if page and page.has_rss? %}
      <li><a href="{{ page.rss_url }}"><i class="icon-rss"></i> Subscribe with RSS</a></li>
      {% elsif page and page.has_parent? and page.parent.has_rss? %}
      <li><a href="{{ page.parent.rss_url }}"><i class="icon-rss"></i> Subscribe with RSS</a></li>
      {% endif %}
    </ul>

    {% endif %}

  </div>
  <!-- .right-column -->
</div> <!-- .twocolumn_container -->
